/*Changes size when screen is minimized */

@media screen and (max-height: 450px) {
    h3 {
      font-size: 4rem;
    }
    body {
      font-size: 1rem;
    }
    h3 {
      line-height: 1;
    }
  }
}


/*Body*/

body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


/*Contains the text and the buttons*/
.container{
  text-align: center;
}
/*Changes size when screen is minimized */

@media screen and (max-height: 450px) {

}

/*The text*/
.hex{
  text-transform: capitalize;
  color: #ffffff ;
  visibility: hidden;
  background: rgba(0,0,0,0.6);
  padding: 0.5em 0.5em;
  justify-content: center;
  align-items: center;
  border: 0.1em solid #fefefe;
  border-radius: 0.2%;
}
/*The hex color returned by JavaScript*/
.result{
  font-size: 2em;
}

/*Button*/
.randomizer{
  padding: 0.35em 0.5em;
  border: 0.5em solid #fefefe;
  border-radius: 0.2%;
  background: rgba(0,0,0,0.5);
  font-size: 1.25rem;
  color: #fefefe;
  cursor: pointer;
  outline: none;

}
.hexNumber{
  padding: 0.35em 0.5em;
  border: 0.5em solid #fefefe;
  border-radius: 0.2%;
  background: rgba(0,0,0,0.5);
  font-size: 1.25rem;
  color: #fefefe;
  cursor: pointer;
  outline: none;

}

/* Animation for button pointer*/

.randomizer:hover{
  background : rgba(0,0,0,1)
}
.hexNumber:hover{
  background : rgba(0,0,0,1)
}
